# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# IntelliJ
.idea/.gitignore
.idea/coronit-portaal.iml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea
